body{
	background-image: url(PS5.jpg);
	background-repeat: no-repeat;
}
h1{
	color: #0356fc;
	font-size: 100px;
}
.title{
	display: flex;
	justify-content: center;
}
#sen{
	font-size: 45px;
}
#scr{
	font-size: 30px;
	color: #0356fc

}
#scr:hover {
	color: #0356fc
}
a {
  color: #dfe5f3;
  text-decoration: none;
  background-image: linear-gradient(#222b40, #222b40),
    linear-gradient(rgb(176, 251, 188), rgb(176, 251, 188)),
    linear-gradient(#feb2b2, #feb2b2);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 2s linear, background-position 2s linear;
}

a:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}
#space{
	height: 40em;
}
span{
	display: flex;
	justify-content: center;
}
.link{
	background-color: #0356fc;
	font-size: 2.5rem;
	border-radius: 50px;
	border: 0px #0356fc solid;
	text-align: center;
	padding: 0.2rem 0.5rem;
}
.link:hover {
	padding: 0.4rem 1rem;
}
#foot{
	height: 5em;
}
